<!doctype html>
<html lang="en">

<head>
  <title>Slack Invite Automation: Get Invited</title>
  <%= partial 'public/partials/_head.html.erb' %>
  <script src="/js/invite.js"></script>
</head>

<body class='plain'>
  <p class='icon'>
    <a href='/'><img id='team_icon' src='img/icon.png'></a>
  </p>
  <p>
    <h1 id='team_caption'>Get Invited to Team <u><span id='team_name'></span></u></h1>
    <p class='link'><a id='team_href' target='_blank'><span id='team_href'></span></a></p>
  </p>
  <p id='messages' />
  <p id='invite'>
    <script>
      $(document).ready(function() {
        <% team = Team.where(team_id: request.params['team_id']).first %>

        var team = {
          id: "<%= team&.team_id %>",
          name: <%= JSON::generate(ERB::Util.html_escape(team&.name)) %>,
          icon: <%= JSON::generate(team&.icon && ERB::Util.html_escape(URI.parse(team&.icon).to_s)) %>,
          workspace_url: <%= JSON::generate(team&.workspace_url && ERB::Util.html_escape(URI.parse(team&.workspace_url).to_s)) %>
        }

        if (! team.name) {
          $('form').remove();
          SlackInvite.message("Missing or invalid team ID.");
          return;
        }

        $('#team_name').html(team.name);

        if (team.workspace_url) {
          $('#team_href').html(team.workspace_url);
          $('#team_href').attr('href', team.workspace_url);
        }
        
        if (team.icon) {
          $('#team_icon').attr('src', team.icon);
        }
      });
      </script>
    <form id="form" onsubmit="return invite(event);">
      <div>
        <label for="name">name:</label>
        <input type="text" id="name">
      </div>
      <div>
        <label for="email">email:</label>
        <input type="email" id="email" placeholder="you@example.com">
      </div>
      <button type="submit" class="button" onclick="return invite(event);">Submit</button>
    </form>
  </p>
  <%= partial 'public/partials/_footer.html.erb' %>
</body>

</html>